* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Estilos para el header */
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}
.abrir-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  font-size: 20px; /* Tamaño del icono */
  padding: 5px; /* Ajustar el padding para aumentar el tamaño del botón */
}
.cerrar {
  display: none;
}
h1 {
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  color: #333;
}
.pinicio {
  background-color: #78cdd7; /* Color de fondo */
  display: flex; /* Utilizar flexbox */
  flex-direction: column; /* Apilar elementos verticalmente */
  justify-content: center; /* Centrar verticalmente los elementos */
  align-items: center; /* Centrar horizontalmente los elementos */
  padding: 10px; /* Espaciado interno */
  flex-wrap: wrap; /* Permitir envolver elementos cuando no quepan en una sola línea */
  margin-bottom: 5px;
}

/* Estilos para el logo del header */
.secheader img {
  border-radius: 50%; /* Hacer la imagen circular */
  height: 150px; /* Tamaño de la imagen */
  width: auto; /* Ancho automático */
  margin-bottom: 10px; /* Espacio entre la imagen y la lista */
}
.nav {
  opacity: 1;
  visibility: visible;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

/* Estilos para la lista de navegación */
.prinmenu {
  list-style-type: none; /* Eliminar viñetas de la lista */
  display: flex; /* Mostrar elementos en línea */
  align-items: center; /* Alinear elementos verticalmente */
  margin: 0; /* Eliminar el margen */
  padding: 10; /*Margen interno*/
}

/* Estilos para los elemento li del menu */
.prinmenu li {
  font-weight: bold; /* Texto en negrita */
  margin: 0 10px; /* Espacio entre elementos */
  transition: color 0.3s; /* Transición de color al pasar el mouse */
}

/* Estilos para los submenús */
.prinmenu li ul {
  list-style-type: none; /* Quitar viñetas */
}
#menu .inventario-menu:hover #inventario-submenu {
  display: block;
}
.submenu.visible {
  display: block;
}
/*Estilos para los enlaces del menu */
.prinmenu li a {
  color: #04115a; /* Color de texto */
  text-decoration: none; /* Quitar subrayado */
}

/* Agregando efecto cuando se pasa el cursor sobre los enlaces del menu */
.prinmenu li a:hover {
  color: red; /* Cambiar color al pasar el mouse */
}

/*----- Estilos para el BODY -----*/
body {
  background: #aee7ee;
  font-family: Arial, Helvetica, sans-serif;
}

.formReg {
  background: #78cdd7;
  width: 45%; /* Ancho del formulario */
  margin: auto; /* Centrar el formulario horizontalmente */
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.registro {
  display: flex; /* Usar flexbox para alinear etiquetas e inputs */
  flex-direction: column; /* Alinear en columna */
  padding: 15px;
}

.registro div {
  margin-bottom: 15px;
}

.registro label {
  display: inline-block;
  width: 30%;
  text-align: left; /* Alinear etiquetas a la izquierda */
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.registro input[type="text"],
.registro input[type="password"] {
  width: 60%;
  margin: 10px 0;
  margin-right: 20px; /* Alinear inputs a la derecha */
  /*margin: 5px;*/
}

.registro input[type="submit"] {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  margin: auto;
  margin-bottom: 25px;
  margin-top: 25px; /* Separación entre el último input y el botón */
  background: #007bff;
  font-size: 25px;
  width: 60%;
  border-radius: 5px;
}

.registro input[type="submit"]:hover {
  cursor: pointer;
  background: #0056b3;
}

.secbody {
  width: 1349px; /* Abarcar el 100% del ancho del contenedor */
  text-align: center; /* Centrar el contenido horizontalmente */
  position: relative; /* Posición relativa para el posicionamiento absoluto del texto */
  margin: 0; /* Eliminar cualquier margen */
}
.secbody img {
  width: 100%;
  padding: 5px;
}

/* Estilos para los mensajes de error */
.error-message {
  color: #f40e23; /* Color rojo para el texto */
  font-weight: bold; /* Texto en negrita */
  margin-bottom: 10px; /* Espacio debajo del mensaje */
}

.register-text {
  margin: 20px auto;
  text-align: center;
}
.register-text a {
  text-decoration: none;
  color: #04515a;
}
.register-text a:hover {
  text-decoration: underline;
  color: #188013;
}

/* Estilos para la imagen dentro de secbody */
.secbody img {
  display: block; /* Para que los márgenes automáticos funcionen */
  width: 100%;
  height: 500px;
}

/* Estilos para el texto centrado en la imagen */
.secbody .centrado {
  position: absolute; /* Posición absoluta para colocar el texto */
  font-size: 40px;
  color: #fff;
  font-weight: bold; /* Texto en negrita */
  bottom: 10px; /* Alineación en la parte inferior */
  left: 10px; /* Alineación a la izquierda */
  background-color: rgba(0, 0, 0, 0.4); /* Fondo semi-transparente */
  padding: 10px; /* Espaciado interno */
}

/* Estilos para el footer */
footer section {
  margin-top: 15px;
  display: flex; /* Activar Flexbox */
  justify-content: space-around; /* Distribuir el espacio entre los elementos */
  align-items: center; /* Alinear los elementos verticalmente al centro */
  width: 100%; /* Ocupar todo el ancho del footer */
  height: 120px;
  padding: 20px; /* Agregar espacio entre los elementos y el borde del footer */
  background-color: #78cdd7;
}

footer section div {
  display: flex; /* Activar Flexbox para cada elemento */
  align-items: center; /* Alinear el contenido de cada elemento verticalmente al centro */
  background: #78cdd7;
}

footer section img {
  width: 70px; /* Reducir el ancho de las imágenes */
  height: auto; /* Altura automática para mantener la proporción */
  margin-right: 10px; /* Agregar espacio a la derecha de cada imagen */
}

h2 {
  margin-top: 5px;
  margin-bottom: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 30px 0;
}

/*ESTILOS PARA EL BOTÓN DEL FORMULARIO REGISTRAR NUEVA CATEGORIA*/
.inputRegCategoria{
  background-color: #007bff;
  color: #000;
  border: 3px solid #000;
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
}

/* Estilos para el párrafo de registrate*/
.register-text {
  margin: 20px auto;
  text-align: center;
}

/*---ESTILOS PARA PAGINA DE CATEGORIAS.PHP---*/
.categoria_container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap into multiple lines */
  justify-content: space-between; /* Distribute items evenly between lines and sides */
  width: 100%; /* Make the container span the full width */
}

.imgCategoria {
  opacity: 0.8;
  border: 7px solid rgba(120, 205, 215, 0.8);
  border-radius: 10px;
}

.imgCategoria:hover {
  opacity: 1;
  border: 3px solid rgba(254, 254, 254, 1);
}

.categoria {
  position: relative;
  width: calc(
    50% - 20px
  ); /* Set width for each category, considering margins */
  margin: 10px; /* Add spacing between categories */
  text-align: center; /* Center the content within each category */
}

.categoria img {
  width: 100%; /* Make images responsive to their container */
  height: 400px; /* Maintain aspect ratio */
  margin-bottom: 10px; /* Add spacing below each image */
}

.textoCentrado {
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 1.5;
  transform: translate(-50%, -50%);
  /*background-color: rgba(255, 255, 255, 0.5);*/
  padding: 10px;
  border-radius: 5px;
  text-decoration: none; /* Quitar subrayado del enlace */
  color: red; /* Color del texto */
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.textoCentrado:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ); /* Cambiar el color de fondo al pasar el ratón */
  color: #f40e23;
}

/*---ESTILOS DE LA TABLA DE INVENTARIO---*/
/* Estilos para la tabla */
.materiales table {
  margin: 0 auto; /* Centrar la tabla */
  border-collapse: collapse;
  margin-bottom: 25px;
}

.materiales th,
.materiales td {
  border: 1px solid #000;
  padding: 8px; /* Espacio interior de las celdas */
  text-align: center; /* Centrar el contenido de las celdas */
}

/*---ETILOS PARA EL FORMULARIO DE formInventario.php---*/
.formulario {
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.formRegProd {
  background-color: #78cdd7;
}
.formRegProd label {
  font-weight: bold;
}

.h2inventario {
  margin-bottom: 20px;
  text-align: center;
}

.formulario label {
  display: block;
  margin-bottom: 5px;
}

.formulario input[type="text"],
.formulario input[type="number"],
.formulario textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.formulario textarea {
  height: 100px; /* Ajustar según necesidades */
}

.formulario input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formulario input[type="submit"]:hover {
  background-color: #45a049;
}

.fminvRegresar {
  display: block;
  width: fit-content;
  margin: 20px auto; /* Centrar y agregar separación del botón */
  text-align: center;
  color: #f40e23;
  text-decoration: none;
}

.fminvRegresar:hover {
  text-decoration: underline;
}

/* Estilos para el formulario de registro de productos */
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none; /* quitar los estilos de selección predeterminados */
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/*---ESTILOS DE LA PÁGINACIÓN---*/
.paginacion {
  text-align: center;
  margin-top: 20px;
}

.paginacion ul {
  list-style: none;
  padding: 0;
}

.paginacion li {
  display: inline-block;
  margin-right: 10px;
}

.paginacion a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border: 1px solid #ccc;
}

.paginacion a:hover {
  background-color: #eee;
}

.paginacion .pagina-actual {
  font-weight: bold;
  background-color: #ddd;
}

.paginacion .paginacion-anterior,
.paginacion .paginacion-siguiente {
  position: relative;
}

.paginacion .paginacion-anterior:before,
.paginacion .paginacion-siguiente:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  border: 5px solid transparent;
  border-top-style: solid;
  border-top-color: #333;
}

.paginacion .paginacion-siguiente:before {
  transform: rotate(180deg);
}

/* Estilos para pantalla pequeña (smartphone) */
@media screen and (max-width: 900px) {
  .abrir-menu,
  .cerrar {
    display: block;
    font-size: 18px; /* Tamaño del icono */
    color: #d30dea; /* Color del icono */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font-size: 10px;
    background: #aee7ee;
    width: 200px; /* Ancho del menú */
    height: 60%; /* Altura del menú */
    z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  .nav-list {
    flex-direction: column;
    align-items: end;
  }
  /* Estilos para los enlaces del menú en dispositivos móviles */
  .prinmenu li a {
    color: #d30dea; /* Color del texto del menú */
    text-decoration: none; /* Quitar subrayado */
  }
  .secheader img {
    height: 100px; /* Reducir el tamaño de la imagen en pantallas pequeñas */
  }

  .secbody {
    margin-bottom: 140px;
    width: auto;
  }
  .secbody .centrado {
    font-size: 20px;
    margin-top: 5px;
  }
  footer {
    margin-top: 5px;
  }
  footer section {
    margin-top: 5px;
    display: flex; /* Activar Flexbox */
    flex-direction: column; /* Apilar elementos verticalmente */
    justify-content: center; /* Centrar verticalmente los elementos */
    align-items: center; /* Centrar horizontalmente los elementos */
    width: 100%; /* Ocupar todo el ancho del footer */
    height: 100px;
    padding: 20px; /* Agregar espacio entre los elementos y el borde del footer */
    background-color: #78cdd7;
  }

  footer section div {
    margin-bottom: 10px; /* Espacio entre elementos */
  }

  footer section img {
    width: 70px; /* Reducir el ancho de las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
    margin-bottom: 5px; /* Espacio entre imágenes */
  }
}

/* Estilos para la tabla de productos */
.tabla_productos {
  width: 80%; /* Ancho de la tabla */
  border-collapse: collapse; /* Colapsar los bordes de la tabla */
  margin-top: 20px; /* Espacio superior */
}

.tabla_productos th,
.tabla_productos td {
  border: 1px solid #ddd !important; /* Añadir borde a las celdas */
  padding: 8px; /* Espaciado interno */
}

.tabla_productos th {
  background-color: #f2f2f2; /* Color de fondo para las celdas de encabezado */
  text-align: left; /* Alinear texto a la izquierda */
}

/* Estilos para los bordes de la tabla */
.tabla_productos th,
.tabla_productos td {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.tabla_productos th:first-child,
.tabla_productos td:first-child {
  border-left: 1px solid #ddd;
}

.tabla_productos th:last-child,
.tabla_productos td:last-child {
  border-right: 1px solid #ddd;
}

/*----- ESTILOS PARA LA GALERIA FOTOGRAFICA -----*/
.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Cuatro columnas iguales */
  gap: 20px; /* Espacio entre las imágenes */
  padding: 0 20px;
}

.foto {
  text-align: center;
  position: relative; /* Para asegurar el contenedor relativo */
  border: 1px solid #000;
  border-radius: 5px;
  overflow: hidden; /* Oculta cualquier desbordamiento */
  height: 480px;
}

.foto img {
  max-width: 100%;
  height: auto;
  max-height: 310px;
}
.foto p {
  padding: 5px;
}

.paginacion {
  text-align: center;
  margin: 20px 0;
}

.paginacion a {
  margin: 0 5px;
  text-decoration: none;
  color: #007bff;
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.paginacion a.active {
  font-weight: bold;
  color: #000;
}

.paginacion a:hover {
  background-color: #f1f1f1;
}

/* Estilos responsivos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .foto {
    width: calc(50% - 20px); /* 2 imágenes por fila en pantallas más pequeñas */
  }
}

@media screen and (max-width: 480px) {
  .foto {
    width: calc(100% - 20px); /* 1 imagen por fila en pantallas muy pequeñas */
  }
}

/*----- ESTILOS PARA LA PÁGINA DE LA FOTOGRAFIA -----*/
.foto-detalle {
  margin: auto;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
}
.foto_regresa {
  text-decoration: none;
  margin-top: 20px;
  margin-left: 20px;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 5px;
}
.foto_regresa:hover {
  background: #04115a;
  color: #78cdd7;
  font-weight: bold;
}

/*----- ESTILOS PARA EL FORMULARIO DE CARGAR FOTOGRAFIA -----*/
.formFoto {
  width: 90%;
  max-width: 500px;
  margin: auto;
  margin-bottom: 30px;
}
.formFoto label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
}
.formFoto .error {
  border: 2px solid red;
  padding: 30px;
  margin-bottom: 30px;
}
.formFoto input[type="text"],
.formFoto input[type="file"],
.formFoto textarea,
.formFoto input[type="date"] {
  width: 100%;
  margin-bottom: 30px;
  color: #000;
}
.formFoto input[type="text"],
.formFoto textarea,
.formFoto input[type="date"] {
  padding: 10px;
  background: none;
  border: 2px solid #000;
}
.formFoto textarea {
  min-height: 76px;
  max-height: 150px;
  max-width: 100%;
  min-width: 100%;
}
.formFoto textarea:focus {
  border: 2px solid #04115a;
}
.formFoto .formSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 10px;
  background: #007bff;
}
.formFoto .submit {
  text-align: center;
  color: #fff;
  margin: 5px;
  padding: 15px 20px;
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.926);
  background: #007bff;
  cursor: pointer;
}
.formFoto .submit:hover {
  background: #0056b3;
}

/* Estilos para los botones submit */
input[type="submit"],
button[type="submit"] {
  font-weight: bold; /* Hace el texto en negritas */
  color: white; /* Hace el texto de color blanco */
}

/* Estilos para el aside de foto.php */
.body-foto {
  display: flex;
  align-items: center;
}

.main-foto {
  width: 80%;
  float: left;
  margin: 10px;
  padding: 5px;
}

.main-foto img {
  width: 100%; /* Ajustar imagen al 100% del contenedor */
  height: auto; /* Altura automática para mantener la proporción */
}

aside {
  width: 20%;
  float: left;
  margin: 10px;
  padding: 5px;
  background-color: #78cdd7;
  text-align: center;
  color: #f9f9f9;
}

aside form {
  margin: 15px 0; /* Añadir margen superior e inferior a los formularios */
}

aside button {
  display: block; /* Mostrar botones como bloques para ocupar todo el ancho */
  width: 80%; /* Ancho del botón al 80% del contenedor */
  margin: 0 auto; /* Centrar botones horizontalmente */
  padding: 10px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

aside button:hover {
  background-color: #555; /* Cambiar color de fondo al pasar el ratón */
}

aside a {
  display: block;
  text-decoration: none;
  color: #fff;
}

aside a:hover {
  text-decoration: underline; /* Subrayar enlace al pasar el ratón */
}

.imgActual{
  width: 250px;
  display: block;
  margin: 0 auto;
}
.nueva{
  margin-top: 20px;
}
.foto-regresa {
  float: calc(50%);
}
.body-modificar-foto .formSubmit{
  display: flex;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 10px;
  background: #007bff;
}
.body-modificar-foto .submit:hover{
  background: #0056b3;
}
.body-modificar-foto .submit{
  text-align: center;
  color: #fff;
  margin: 5px;
  padding: 15px 20px;
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.926);
  background: #007bff;
  cursor: pointer;
}